<mat-card class="card-container">
    <mat-card-header>
        <mat-card-title>Montecarlo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="col-12">
            <div class="col-3">
                <mat-form-field>
                <input matInput type="text" placeholder="Enter your function" name="userFunction" [(ngModel)]="userFunction">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Enter the amount of values" name="amountOfPoints" [(ngModel)]="amountOfPoints">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Enter 'a' value" name="aLimit" [(ngModel)]="aLimit">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Enter 'b' value" name="bLimit" [(ngModel)]="bLimit">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Enter the amount of dots" name="amountOfDots" [(ngModel)]="amountOfDots">
                </mat-form-field>
                <br/>
                <label>Original function result: {{ originalFunctionResult }}</label> 
                <br/>
                <br/>
                <label>Calculated function result: {{ calculatedFunctionResult }}</label> 
                <br/>
                <br/>
                <br/>
                <button mat-raised-button color="primary" (click)="execute()">
                    execute
                </button>
            </div>
            <div class="col-9">
                <div class="canvas-container">
                    <canvas class="canvas" id="evolutionCanvas">{{ evolutionChart }}</canvas>
                    <canvas class="canvas" id="canvas">{{ chart }}</canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>