<mat-card class="card-container">
    <mat-card-content>
        <div class="col-12">
            <div class="col-3">
                <mat-form-field>
                <input matInput type="text" placeholder="Funcion" name="userFunction" [(ngModel)]="userFunction">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Cantidad de valores" name="amountOfPoints" [(ngModel)]="amountOfPoints">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="valor de 'a'" name="aLimit" [(ngModel)]="aLimit">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Valor de 'b'" name="bLimit" [(ngModel)]="bLimit">
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <input matInput type="number" placeholder="Cantidad de puntos" name="amountOfDots" [(ngModel)]="amountOfDots">
                </mat-form-field>
                <br/>
                <br/>
                <label>Metodo de Montecarlo: {{ montecarloResult }}</label>
                <br/>
                <br/>
                <br/>
                <label>Metodo de los rectangulos: {{ rectanglesResult }}</label>
                <br/>
                <br/>
                <br/>
                <label>Metodo de los trapecios: {{ trapezoidResult }}</label>
                <br/>
                <br/>
                <button mat-raised-button color="primary" (click)="execute()">
                    Calcular
                </button>
            </div>
            <div class="col-9">
                <div class="canvas-container">
                    <canvas class="canvas" id="evolutionCanvas">{{ evolutionChart }}</canvas>
                    <canvas class="canvas" id="canvas">{{ chart }}</canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
